* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-menu {
  height: 100px;
  width: 100%;
  background-color: #111;
  color: #fff;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 80px;
  width: auto;
  border-radius: 6px;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #f97316;
}
.logo-link{
  text-decoration: none;
}

.menu-navegacao{
  display: flex;
  gap: 25px;
  font-size: 25px;
  font-weight: 500;
  list-style: none;
}
.menu-navegacao a{
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
.btn-carrinho{
  font-size: 25px;
  background-color: #f97316;
  border-radius: 25px;
  padding: 15px;
  border: none;
  transition: all 0.5s;
}

.menu-navegacao a:hover{
  color: #f97316;
  font-size: 28px;
  transform: translateY(-8px);
}
.btn-carrinho:hover{
  color: #fff;
  transform: translateY(-5px);
  border: 2px solid #fff;
  cursor: pointer;
}

.hamburger {
  width: 35px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  transition: 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 767px) {

  .menu-navegacao,
  .btn-carrinho {
    display: none;
  }

  .hamburger {
    display: flex !important;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 1001;
  }

  .menu-navegacao {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    background-color: #111;
    flex-direction: column;
    padding-top: 120px;
    gap: 25px;
    text-align: left;
    padding-left: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .menu-navegacao.active {
    display: flex;
    right: 0;
    opacity: 0.85;
  }
}

