*{
  margin: 0;
  padding: 0;
}
footer{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  border-top: 3px solid #f97316;
}
